<template>
  <div id='AsideList'>
    <div class="header">
      <h1><a href="/Home">MEGA PLAY</a></h1>
    </div>
    <el-menu
      class="el-menu-vertical-demo menu"
      background-color="#18304e"
      text-color="#909399"
      active-text-color="#fff"
      unique-opened>
      <el-submenu
        v-for="(item, index) in menuList"
        :key="index"
        :index="''+index">
        <template slot="title" >
          <div class="submenu" @click="controlList(index)">
            <i :class="icon[index].class"></i>
          <span :class="{whiteColor: isWhiteColor[index]}"> {{item.name}} </span>
          </div>
        </template>
        <el-menu-item
          @click="clickList(index, subIndex)"
          v-for="(subItem, subIndex) in item.auth_sub_option"
          :key="subIndex"
          :index="index + '-' + subIndex">
          <div class="menu-item">
            <span slot="title">{{subItem.name}}</span>
          </div>
        </el-menu-item>
      </el-submenu>
    </el-menu>
    <div class="footer">
      <p>tag: feature/user-remove-phone/v2--dev-rsa</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      userToken: '',
      userName: '',
      /* list: [
        { name: '遊戲管理', subList: ['游戏设定', '即时注单'] },
        { name: '帳號管理', subList: ['厅主管理', '厅主子帐号', '股东管理', '总代管理', '代理管理', '会员管理', '会员层级管理', '会员注册设定', '权限群组', '代理体系查询'] },
        { name: '現金系統', subList: ['会员资金调整', '网银入款', '转帐入款', '转帐出款', '出入帐目汇总查询', '出款银行设定', '支付设定', '公司银行卡管理'] },
        { name: '推广管理', subList: ['推广返佣', '推广查询', '推广返佣设定'] },
        { name: '公告讯息', subList: ['公告管理', '讯息管理', '系统公告'] },
        { name: '返水管理', subList: ['返水派发', '返水设定'] },
        { name: '報表', subList: ['游戏投注报表', '出入款报表', '入款纪录表', '出款纪录表', '登入装置报表', '会员IP列表', '会员在线列表', '会员登入纪录', '运营分析报表', '会员金流', '会员输赢报表', '会员流水明细', '下线投注报表'] },
        { name: '網站管理', subList: ['站点设置', '热门游戏管理', '首页广告管理', '优惠活动管理', '中奖名单管理', '文案管理', '图库管理', '访客管理'] },
        { name: '优惠活动管理', subList: ['优惠活动紀錄', '优惠活动-手动派发', '优惠查询派发', '签到礼金', '生日礼金', '优惠券'] },
        { name: '操作纪录', subList: ['操作纪录'] },
      ], */
      listName: [
        { code: 1, name: '游戏管理' },
        { code: 2, name: '帐号管理' },
        { code: 3, name: '現金系統' },
        { code: 4, name: '推广管理' },
        { code: 5, name: '公告讯息' },
        { code: 6, name: '报表' },
        { code: 7, name: '网站管理' },
        { code: 8, name: '操作纪录' },
        { code: 9, name: '返水管理' },
        { code: 10, name: '优惠活动管理' },
      ],
      subListName: [
        { code: 4, name: '股东管理' },
        { code: 5, name: '总代管理' },
        { code: 6, name: '代理管理' },
        { code: 7, name: '会员管理' },
        { code: 8, name: '会员注册设定' },
        { code: 9, name: '代理体系查询' },
        { code: 10, name: '会员层级管理' },
        { code: 15, name: '厅主管理' },
        { code: 16, name: '厅主子帐号' },
        { code: 20, name: '权限群组' },
        { code: 30, name: '公告管理' },
        { code: 31, name: '讯息管理' },
        { code: 52, name: '系统公告' },
        { code: 1, name: '游戏設定' },
        { code: 13, name: '网银入款' },
        { code: 14, name: '转帐入款' },
        { code: 22, name: '转帐出款' },
        { code: 23, name: '出入帐目汇总查询' },
        { code: 25, name: '支付设定' },
        { code: 26, name: '公司银行卡管理' },
        { code: 56, name: '返水派发' },
        { code: 57, name: '返水设定' },
        { code: 32, name: '游戏投注报表' },
        { code: 37, name: '会员IP列表' },
        { code: 27, name: '推广返佣' },
        { code: 28, name: '推广查询' },
        { code: 29, name: '推广返佣设定' },
        { code: 42, name: '站点设置' },
      ],
      icon: [
        { code: 1, class: 'el-icon-menu' },
        { code: 2, class: 'el-icon-s-custom' },
        { code: 3, class: 'el-icon-s-data' },
        { code: 4, class: 'el-icon-s-shop' },
        { code: 5, class: 'el-icon-message-solid' },
        { code: 6, class: 'el-icon-s-order' },
        { code: 7, class: 'el-icon-s-home' },
        { code: 8, class: 'el-icon-s-open' },
        { code: 9, class: 'el-icon-s-goods' },
        { code: 10, class: 'el-icon-s-cooperation' },
      ],
      listOrder: [1, 2, 3, 4, 9, 5, 6, 7, 10, 8],
      subListOrder: [
        { code: 1, subCode: [1, 49] }, // 2
        { code: 2, subCode: [15, 16, 4, 5, 6, 7, 10, 8, 20, 9] }, // 10
        { code: 3, subCode: [59, 13, 14, 22, 23, 58, 25, 26] }, // 8
        { code: 4, subCode: [27, 28, 29] }, // 3
        { code: 9, subCode: [56, 57] }, // 2
        { code: 5, subCode: [30, 31, 52] }, // 3
        { code: 6, subCode: [32, 33, 34, 35, 36, 37, 61, 38, 39, 40, 62, 41] }, // 12
        { code: 7, subCode: [42, 63, 43, 44, 65, 45, 53, 55] }, // 8
        { code: 10, subCode: [66, 67, 71, 70, 72, 69] }, // 6
        { code: 8, subCode: [46] }, // 1
      ],
      menuList: [],
      isWhiteColor: [],
    }
  },
  created () {
    for (const i in this.menuList) { this.isWhiteColor.push(false) }
    this.userToken = this.$store.state.token
    this.userName = this.$store.state.userName
  },
  mounted () {
    const self = this
    const apiurl = 'http://engine.gakkixmasami.com:30082/menu/list'
    axios.get(apiurl, { headers: { 'Api-Token': self.userToken } })
      .then(response => {
        const list = response.data.result
        for (const i in list) {
          for (const j in list) {
            if (self.listOrder[i] == list[j].code) {
              const tmp = []
              for (const k in self.subListOrder[i].subCode) {
                for (const l in list[j].auth_sub_option) {
                  if (self.subListOrder[i].subCode[k] === list[j].auth_sub_option[l].code) { tmp.push(list[j].auth_sub_option[l]) }
                }
              }
              list[j].auth_sub_option = tmp
              self.menuList.push(list[j])
            }
          }
        }
        for (const i in self.menuList) {
          for (const j in self.listName) {
            if (self.menuList[i].code === self.listName[j].code) { self.menuList[i].name = self.listName[j].name }
          }
          for (const j in self.menuList[i].auth_sub_option) {
            for (const k in self.subListName) {
              if (self.menuList[i].auth_sub_option[j].code === self.subListName[k].code) { self.menuList[i].auth_sub_option[j].name = self.subListName[k].name }
            }
          }
        }
      })
      .catch(function (error) { // 请求失败处理
        console.log(error.response.data.code)
        self.$store.commit('set_errorCode', error.response.data.code)
      })
  },
  methods: {
    controlList: function (index) {
      for (const i in this.menuList) { if (i !== `${index}`) { this.isWhiteColor[i] = false } }
      return this.$set(this.isWhiteColor, index, !this.isWhiteColor[index])
    },
    clickList: function (index, subIndex) {
      // console.log(this.menuList[index].auth_sub_option[subIndex].name)
      // console.log(index, subIndex)
      if (index === 1 && subIndex === 5 && this.$router.history.current.fullPath !== '/home/MemberManagement') { this.$router.push('/home/MemberManagement') }
      if (index === 1 && subIndex === 6 && this.$router.history.current.fullPath !== '/home/MemberLevels') { this.$router.push('/home/MemberLevels') }
    },
  },
}
</script>

<style scoped lang="scss">
$textColor: #909399;
$listDivColor: #303133;
$asidewidth: 212px;
$listcolot: #113d65;
*{
  padding: 0;
  margin: 0;
}
#AsideList {
  position: fixed;
  width: $asidewidth - 1;
  height: 100%;
  z-index: 3;
  .header {
    height: 80px;
    text-align: center;
    background-color: $listcolot;
    h1 {
      line-height: 80px;
      font-size: 1.5rem;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .footer{
    height: 5vh;
    font-size: 0.6rem;
    line-height: 12px;
    padding: 5px 20px 0 40px;
    text-align: end;
    background-color: #18304e;
    color: $textColor;
  }
}
.whiteColor {
  color: white;
}
.menu {
  overflow: auto;
  height: 88vh;
  width: $asidewidth;
}
.submenu {
  position: relative;
  right: 25px;
  padding: 0 35px;
  text-align: left;
}
.menu-item {
  position: relative;
  text-align: left;
  right: 40px;
  width: $asidewidth;
  padding: 0 60px;
  background-color: $listDivColor;
}
::-webkit-scrollbar {
  display: none;
}
</style>
