<template>
  <div class="elementui">
    <el-button @click="visible = true">Button</el-button>
    <el-dialog :visible.sync="visible" title="Hello world">
      <p>Try Element</p>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data () {
    return {
      visible: false,
    }
  },
}
</script>

<style lang="scss" scoped>
  .elementui{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;;
  }

</style>
