<template>
    <div id="the">
        <form action="" id="theform">
                <p>姓名(fullname):</p>
                <input type="text" pattern="[\u4e00-\u9fa50-9A-z]{1,4}" v-model="fullname" required>
                <p>手機號碼(mobile): </p>
                <input type="text" pattern="[0-9]{10}" v-model="mobile" required>
                <p>出生年月日(birthday): </p>
                <input type="date" min="1970-01-01" max="2000-12-31" v-model="birthday">
                <p>住址(address): </p>
                <input type="text" pattern="[\u4e00-\u9fa50-9A-z]{8,50}" v-model="address">
                <p>Email(email): </p>
                <input type="email" pattern="([0-9 A-z @ .]{10,50})" v-model="email" required>
                <hr>
                <button type="submit" @click="clicksubmit">submit</button>
            <p>{{clickname}}</p>
        </form>
    </div>

</template>

<script>

export default {
  data: function () {
    return {
      fullname: '',
      mobile: '',
      birthday: '',
      address: '',
      email: '',
      clickname: [],

    }
  },
  methods: {
    clicksubmit: function () {
      this.clickname = []
      this.clickname.push(this.fullname, this.mobile, this.birthday, this.address, this.email)
      console.log(this.clickname)
      return this.clickname
    },
  },
}

</script>

<style scoped>
  #theform{
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(10, 10, 10);
  }

</style>
