<template>
<div id="app">
  <div class="header">
    <div class="header_top">{{date | timeFormat}}</div>
    <div class="header_down">
      <div class="dropdown header_down_button">
        <div class="btn dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="@/assets/member.svg" alt="member"> 直营厅主 : {{userName}} </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" @click="logout">登出</a>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  filters: {
    timeFormat: function (date) {
      const FullYear = date.getFullYear()
      const Month = date.getUTCMonth() + 1
      const Day = date.getDate()
      const Hours = date.getHours()
      const Minutes = date.getMinutes()
      const Seconds = date.getSeconds()
      return `
        ${FullYear}-${Month > 9 ? Month : '0' + Month}-${Day > 9 ? Day : '0' + Day}
        ${Hours > 9 ? Hours : '0' + Hours}:${Minutes > 9 ? Minutes : '0' + Minutes}:${Seconds > 9 ? Seconds : '0' + Seconds}
      `
    },
  },
  data () {
    return {
      date: new Date(),
      userToken: '',
      userName: '',
      nowTime: '',
    }
  },
  created () {
    this.userToken = this.$store.state.token
    this.userName = this.$store.state.userName
  },
  mounted () {
    // 計時器
    const self = this
    self.nowTime = setInterval(() => { self.date = new Date() }, 1000)
  },
  beforeDestroy () {
    const self = this
    clearInterval(self.nowTime)
  },
  methods: {
    logout () {
      localStorage.removeItem('token')
      this.$store.state.token = ''
      this.$store.state.name = ''
      this.$router.push('/login')
    },
  },
}
</script>

<style lang="scss" scoped>
$headerHeight: 80px;
.header {
  position: fixed;
  width: 100%;
  height: $headerHeight;
  right: 0px;
  background-color: #fff;
  text-align: end;
  line-height: 32px;
  z-index: 2;
  .header_top {
    width:100%;
    background-color: #f2f6fc;
    padding: 0px 25px 0px 0;
    font-size: 14px;
  }
  .header_down {
    padding: 5px 30px 0 0;
  }
}
</style>
