<template>
  <div class="item">
    <div class="item1 ">
      <div><slot name="header1"></slot></div>
      <div><slot name="count1"></slot></div>
    </div>
    <div class="smallDiv"><slot name="img"></slot><slot name="reset"></slot></div>
    <slot name="line1"></slot>
    <div class="item2 ">
      <div class="headercolor"><slot name="header2"></slot></div>
      <div><slot name="count2"></slot></div>
    </div>
    <slot name="line2"></slot>
    <div class="item3">
      <div class="headercolor"><slot name="header3"></slot></div>
      <div><slot name="count3"></slot></div>
    </div>
    <slot name="line3"></slot>
  </div>
</template>

<script>

export default {
  data () {
    return {
      count: 0,
    }
  },
}

</script>

<style scoped lang="scss">
  $borderLine: #ebeef5;
  $headercolor: #909399;
  $line-height: 28px;
  .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    line-height: $line-height;
    border-radius: 5px;
    font-size: 14px;

  }
  .item1,
  .item2,
  .item3 {
    display: flex;
    justify-content:space-between;
  }

  .headercolor{
    color: $headercolor;
  }
  .smallDiv{
    display: flex;
    position: relative;
    bottom: 20px;
    font-size: 12px;
  }
</style>
