<template>
  <div id="app">
    <div class="aside"><AsideList/></div>
    <div class="header">
      <div class="header_top">{{date| timeFormat}}</div>
      <div class="header_down">
        <div class="dropdown header_down_button">
          <div class="btn dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="@/assets/member.svg" alt="member"> 直营厅主 : {{userName}} </div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" @click="logout">登出</a>
          </div>
        </div>
      </div>
    </div>
    <div class="asideBox"></div>
    <div class="totalcontent">
      <div class="headerBox"></div>
      <div class="content1">
        <div class="content1_item1">游戏损益 <span class="numberSpan"> ¥ {{homeApiData.result.win_lose}}</span></div>
        <div class="content1_item2"><div>有效投注<span class="fontSpan">( 依结算时间统计结果 )</span></div> <span class="numberSpan"> ¥ {{homeApiData.result.validbet}}</span></div>
        <div class="content1_item3">营收<span class="numberSpan"> ¥ {{homeApiData.result.profit}}</span>
      </div>
      </div>
      <div class="content2">
        <div class="content2_item1">
          <div class="content2_item1_1">
            <div class="content2_item1_1_1"></div>
              <Homeitem>
                <p slot="header2">注册人数</p>
                <p slot="header3">活跃人数</p>
                <p slot="count2">{{homeApiData.result.register_num}}</p>
                <p slot="count3">{{homeApiData.result.user_num}}</p>
                <div slot="line2" class="Line"></div>
                <div slot="line3" class="Line"></div>
              </Homeitem>
          </div>
          <div class="content2_item1_2">
            <Homeitem>
              <p slot="header1">投注人数（不重复）</p>
              <p slot="header2">投注金额（¥）</p>
              <p slot="header3">返水金额（¥）</p>
              <p slot="count1">{{homeApiData.result.bet_of_users}}</p>
              <p slot="count2">{{homeApiData.result.bet}}</p>
              <p slot="count3">{{homeApiData.result.rebate_sum}}</p>
              <div slot="line1" class="Line"></div>
              <div slot="line2" class="Line"></div>
            </Homeitem>
          </div>
        </div>
          <div class="content2_item2">
            <Homeitem>
              <p slot="header1">存款（¥）</p>
              <p slot="header2">存款人数（不重复）</p>
              <p slot="header3">首存人数</p>
              <p slot="count1">{{homeApiData.result.deposit_sum}}</p>
              <p slot="count2">{{homeApiData.result.deposit_num}}</p>
              <p slot="count3">{{homeApiData.result.first_deposit_num}}</p>
              <div slot="line1" class="Line"></div>
              <div slot="line2" class="Line"></div>
              <div slot="line3" class="Line"></div>
            </Homeitem>
            <Homeitem>
              <p slot="header1">提款（¥）</p>
              <p slot="header2">提款人数（不重复）</p>
              <p slot="header3">优惠金额（¥）</p>
              <p slot="count1">{{homeApiData.result.withdraw_sum}}</p>
              <p slot="count2">{{homeApiData.result.withdraw_num}}</p>
              <p slot="count3">{{homeApiData.result.bonus_sum}}</p>
              <div slot="line1" class="Line"></div>
              <div slot="line2" class="Line"></div>
            </Homeitem>
          </div>
      </div>
      <div class="content3">
        <div class="content3_item1">
          <Homeitem>
            <p slot="header1">会员总余额（¥</p>
            <p slot="count1"><span>{{homeApiData.result.balance.total}}</span></p>
            <p slot="img"> <img src="../assets/member.svg"></p>
            <p slot="reset"><a href="#">刷新数据</a></p>
            <div slot="line1" class="Line"></div>
          </Homeitem>
        </div>
        <div class="content3_item2">
          <div>旗下各站台余额（¥)</div>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&lsaquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="">1</a></li>
              <li class="page-item"><a class="page-link" href="">2</a></li>
              <li class="page-item"><a class="page-link" href="">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&rsaquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="content4">平台通知</div>
    </div>
  </div>
</template>

<script>
// import Button from '@/components/BaseButton.vue'
// import axios from 'axios'
import AsideList from '@/components/AsideList'
import Homeitem from '@/components/Homeitem'
import axios from 'axios'
// import { eventBus } from '../main'

export default {
  components: {
    AsideList, Homeitem,
  },
  filters: {
    timeFormat: function (date) {
      const FullYear = date.getFullYear()
      const Month = date.getUTCMonth() + 1
      const Day = date.getDate()
      const Hours = date.getHours()
      const Minutes = date.getMinutes()
      const Seconds = date.getSeconds()
      return `
        ${FullYear}-${Month > 9 ? Month : '0' + Month}-${Day > 9 ? Day : '0' + Day}
        ${Hours > 9 ? Hours : '0' + Hours}:${Minutes > 9 ? Minutes : '0' + Minutes}:${Seconds > 9 ? Seconds : '0' + Seconds}
      `
    },
  },
  data () {
    return {
      date: new Date(),
      userToken: '',
      userName: '',
      Start_Time: '2019-09-20 04%3A00%3A00',
      End_Time: '2019-09-20 05%3A59%3A59',
      homeApiData: {
        result: {
          balance: { total: '' },
          win_lose: '',
          validbet: '',
          nowTime: '',
        },
      },
    }
  },
  created () {
    this.userToken = this.$store.state.token
    this.userName = this.$store.state.userName
    // 使用 eventBus
    // eventBus.$on('userToken', event => self.userToken = event)
    // eventBus.$on('userName', event => self.userName = event)
  },
  mounted () {
    // 計時器
    const self = this
    self.nowTime = setInterval(() => { self.date = new Date() }, 1000)
    // 接收首頁 api
    const homeApiUrl = `http://engine.gakkixmasami.com:30082/home/list/${self.Start_Time}/${self.End_Time}/`

    axios.get(homeApiUrl, {
      params: {
        hall_code: '111',
        start_time: self.Start_Time,
        end_time: self.End_Time,
      },
      headers: { 'Api-Token': self.userToken },
    })
      .then(response => {
        self.homeApiData = response.data
        // console.log("首頁api", self.homeApiData)
      })
      .catch(function (error) { // 请求失败处理
        console.log(error.response.data.code)
        self.$store.commit('set_errorCode', error.response.data.code)
        console.log('errorCode', self.$store.state.token)
        if (self.$store.state.token === '110122' | '110121') {
          self.$store.commit('set_token', '')
          self.$router.push('/login')
        }
      })

    // 接收current api
    // 接收list api
    /* axios.get('http://engine.gakkixmasami.com:30082/menu/list', {

      headers: { 'Api-Token': self.userToken}
    })
    .then(response => {

      console.log("listapi",response.data)
    })
    .catch(function (error) { // 请求失败处理
      console.log(error);
    }); */
  },
  beforeDestroy () {
    const self = this
    clearInterval(self.nowTime)
  },
  methods: {
    logout () {
      localStorage.removeItem('token')
      this.$store.state.token = ''
      this.$store.state.name = ''
      this.$router.push('/login')
    },
  },
}
</script>

<style lang="scss" scoped>
  $asideWidth: 210px;
  $contentWidth: 100vw;
  $headerHeight: 80px;
  $contentheigh: 135%;
  $borderLine: #ebeef5;
  #app {
    width: $contentWidth;
    height: $contentheigh;
    background-color: #e4e7ed;
    .header {
      position: fixed;
      width: 100%;
      height: $headerHeight;
      right: 0px;
      background-color: #fff;
      z-index: 1;
      .header_top {
        height: 30px;
        text-align: end;
        background-color: #f2f6fc;
        padding: 5px 16px 0 0;
        font-size: 14px;
      }
      .header_down {
        text-align: end;
        padding: 8px 0px 0 0;
      }
    }
    .asideBox {
      flex-shrink: 0;
      width: $asideWidth;
      height: 100%;
    }
    .totalcontent{
      padding: 103px 16px 20px 24px;
      width: 100%;
      height: 100%;
      background-color: #e4e7ed;;
      .content1{
        margin: 0 0 20px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #e4e7ed;
        color: #fff;
        font-size: 1rem;
        /*border: 1px solid red;*/
        .numberSpan{
          font-size: 24px;
        }
        .fontSpan {
          font-size: .5rem;
          opacity: .7;
        }
        .content1_item1 {
          border-radius: 5px;
          width: 100%;
          height: 105px;
          background-color: red;
          opacity: 0.8;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 24px;
        }
        .content1_item2 {
          border-radius: 5px;
          width: 100%;
          height: 105px;
          background-color: green;
          opacity: 0.8;
          margin: 0 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 24px;
        }
        .content1_item3 {
          border-radius: 5px;
          width: 100%;
          height: 105px;
          background-color: blue;
          opacity: 0.8;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 24px;
        }
      }
      .content2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 350px;
        margin: 0 0 20px 0;
        .content2_item1 {
          width: 50%;
          height: 100%;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          margin: 0 20px 0 0;
          .content2_item1_1 {
            display: flex;
            width: 100%;
            height: 50%;
            border-radius: 5px;
            margin: 0 0 20px 0;
            background-color: #fff;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
            .content2_item1_1_1 {
              width: 110px;
              flex-shrink: 0;
              background: url(../assets/homeCircle.png) no-repeat 10px center;
            }
          }
          .content2_item1_2 {
            width: 100%;
            height: 50%;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
          }
        }
        .content2_item2 {
          width: 50%;
          height: 100%;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
        }
      }
      .content3 {
        width: 100%;
        height: 400px;
        background-color: #fff;
        border-radius: 5px;
        margin: 0 0 20px 0;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
        .content3_item1 {
          height: 25%;
          span{
            font-size: 24px;
          }
        }
        .content3_item2 {
          padding: 30px 10px 0 10px;
          display: flex;
          justify-content: space-between;
        }
      }
      .content4 {
        width: 100%;
        height: 210px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
      }
    }
  }
  .Line {
    position: relative;
    bottom: 8px;
    border-bottom: 1px solid $borderLine;
  }
</style>
