<template>
<div id="app">
  <el-container>
    <el-aside width="212px"><AsideList></AsideList></el-aside>
    <el-container>
      <el-header height="80px"><Header></Header></el-header>
      <el-main >
        <div class="main" v-loading="isLoading">
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item >帐号管理</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/home/MemberLevels' }">会员层级管理</el-breadcrumb-item>
            <el-breadcrumb-item>会员列表</el-breadcrumb-item>
          </el-breadcrumb>
          <br>
          <el-divider></el-divider>
          <div class="mainTop">
            <div class="mainTopinput">
              <div class="inputForm">
                <label for="">帐号</label>
                <el-input v-model="Input.account " placeholder="请输入" size="small"></el-input>
              </div>
              <div class="inputForm">
                <label for="">锁定会员层级</label>
                <el-select v-model="lock_rank" placeholder="请选择" clearable size="small">
                  <el-option
                    v-for="item in Input.lockRankOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </div>
              <div class="buttonForm">
                <el-button type="primary" @click="searchList" size="small">搜寻</el-button>
                <el-button @click="clearAll" size="small">清除</el-button>
              </div>
            </div>
            <div class="selectForm">
              <el-select
                v-model="userLevelDropdownListSelect"
                placeholder="请选择"
                filterable
                style="margin: 0 10px 0 0"
                @change="userLevelDropdownListSelectChange">
                <el-option
                  class="option"
                  v-for="item in userLevelDropdownListData"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id">
                </el-option>
              </el-select>
              <el-button style="height: 40px">批次更新会员层级</el-button>
            </div>
          </div>
          <div class="main_footer">
            <span>层级名称: {{user_level_name}}</span>
            <!-- table -->
            <el-table v-loading="false" :data="tableData" style="width: 100%" @selection-change="handleSelectionChange" ref="multipleTable" tooltip-effect="dark">
                <el-table-column
                type="selection"
                width="55">
              </el-table-column>
              <el-table-column
                v-for="(item, index) in tableTitleData"
                :key="index"
                :prop="item.prop"
                :label="item.label"
                :width="item.width"
                :fixed="item.fixed">
                <template slot-scope="scope">
                  <div v-if="item.prop === 'lock_rank' && scope.row[item.prop] === 0 ">否</div>
                  <div v-else-if="item.prop === 'lock_rank' && scope.row[item.prop] === 1 ">是</div>
                  <div v-else-if="item.label === '操作'">
                    <el-button
                      style="color: skyblue"
                      @click="dialogVisible = true, editRowButton(scope.$index, tableData)"
                      type="text"
                      size="mini">
                      編輯
                    </el-button>
                  </div>
                  <div v-else>{{scope.row[item.prop]}}</div>
                </template>
              </el-table-column>
            </el-table>
            <div class="block" v-if="isSeenPagination" >
              <span class="demonstration">共 {{total}} 条</span>
              <el-pagination
                background
                :current-page.sync="currentPage"
                :page-size="50"
                layout="prev, pager, next, jumper"
                :total="total">
              </el-pagination>
            </div>
          </div>
        </div>
      </el-main>
    </el-container>
  </el-container>
  <!-- 對話欄 -->
  <el-dialog
    title="提示"
    v-loading="isLoading"
    :visible.sync="dialogVisible"
    width="50%">
    <label style="width: 100px">帐号</label>
    <el-input :placeholder="currentName" disabled style="width: 85%"></el-input>
    <br><br>
    <label style="width: 100px">来源层级</label>
      <el-select
        v-model="SourceLevelSelect"
        :placeholder="user_level_id"
        filterable
        disabled>
        <el-option
          class="option"
          v-for="item in userLevelDropdownListData"
          :key="item.id"
          :label="item.name"
          :value="item.name">
        </el-option>
      </el-select>
      <br>
      <br>
      <label style="width: 100px">目的层级</label>
      <el-select
        v-model="userLevelDropdownListSelect"
        placeholder="请选择"
        filterable
        @change="userLevelDropdownListSelectChange">
        <el-option
          class="option"
          v-for="item in userLevelDropdownListData"
          :key="item.id"
          :label="item.name"
          :value="item.id">
        </el-option>
      </el-select>
      <!-- table -->
      <el-table v-loading="false" :data="dialogTableData" style="width: 100%" v-if="isSeenDialogTable">
        <el-table-column
          v-for="(item, index) in dialogTableTitleData"
          :key="index"
          :prop="item.prop"
          :label="item.label"
          :width="item.width">
          <template slot-scope="scope">
            <div v-if="item.prop === 'name'">{{scope.row[item.prop]}}</div>
            <div v-else-if="item.prop === 'deposit_times' && scope.row[item.prop] >= 0">{{scope.row[item.prop]}}</div>
            <div v-else-if="item.prop === 'deposit_total' && scope.row[item.prop] >= 0">{{scope.row[item.prop]}}.00</div>
            <div v-else-if="item.prop === 'deposit_max' && scope.row[item.prop] >= 0">{{scope.row[item.prop]}}.00</div>
            <div v-else-if="item.prop === 'withdraw_times' && scope.row[item.prop] >= 0">{{scope.row[item.prop]}}</div>
            <div v-else-if="item.prop === 'withdraw_total' && scope.row[item.prop] >= 0">{{scope.row[item.prop]}}.00</div>
            <div v-else>符合条件</div>
          </template>
        </el-table-column>
      </el-table>
    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="dialogClick">确 定</el-button>
    </span>
  </el-dialog>
</div>
</template>

<script>
import AsideList from '@/components/AsideList'
import Header from '@/components/Header'
import Homeitem from '@/components/Homeitem'
import axios from 'axios'
export default {
  components: {
    AsideList, Header, Homeitem,
  },
  data () {
    return {
      userToken: '',
      userName: '',
      apiUrl: '',
      isLoading: false,
      tableTitleData: [
        { prop: 'account', label: '帐号', width: '120' },
        { prop: 'phone', label: '手机', width: '120' },
        { prop: 'email', label: '邮箱', width: '180' },
        { prop: 'qq', label: 'QQ号', width: '120' },
        { prop: 'lock_rank', label: '锁定会员层级', width: '110' },
        { prop: 'deposit_count', label: '存款次数', width: '120' },
        { prop: 'deposit_total_balance', label: '存款总额', width: '140' },
        { prop: 'deposit_max_balance', label: '最大存款', width: '140' },
        { prop: 'withdraw_count', label: '提款次数', width: '120' },
        { prop: 'withdraw_total_balance', label: '提款总额', width: '140' },
        { prop: 'withdraw_max_balance', label: '最大提款', width: '140' },
        { prop: 'login_times', label: '登入次数', width: '120' },
        { prop: 'user_profit', label: '盈利', width: '140' },
        { prop: 'create_time', label: '创建时间', width: '165' },
        { fixed: 'right', label: '操作', width: '80' },
      ],
      tableData: [],
      dialogTableTitleData: [
        { prop: 'name', label: '名稱', width: '150' },
        { prop: 'deposit_times', label: '存款次数', width: '150' },
        { prop: 'deposit_total', label: '存款总额', width: '150' },
        { prop: 'deposit_max', label: '最大存款', width: '150' },
        { prop: 'withdraw_times', label: '提款次数', width: '150' },
        { prop: 'withdraw_total', label: '提款总额', width: '150' },
      ],
      dialogTableData: [],
      total: 0,
      site_code: '',
      user_level_id: '',
      user_level_name: '',
      current_user_level_id: '',
      current_user_level_name: '',
      currentName: '',
      currentId: '',
      Input: {
        lockRankOptions: [
          { value: '0', label: '否' },
          { value: '1', label: '是' },
        ],
        account: '',
      },
      lock_rank: '',
      userLevelDropdownListData: [], // 會員層級資料
      userLevelDropdownListSelect: '',
      SourceLevelSelect: '',
      currentPage: 1,
      isSeenPagination: false,
      dialogVisible: false,
      isSeenDialogTable: false,
      multipleSelection: [],
    }
  },
  created () {
    this.userToken = this.$store.state.token
    this.userName = this.$store.state.userName
    this.apiUrl = this.$store.state.apiUrl
    this.site_code = this.$store.state.site_code
    this.user_level_id = this.$store.state.user_level_id
  },
  mounted () {
    this.isLoading = true
    const self = this
    axios.get(self.apiUrl, { headers: { 'Api-Token': self.userToken } }) // table api
      .then(response => {
        self.tableData = response.data.result.data
        self.total = response.data.result.total
        self.isLoading = false
        self.isSeenPagination = true
      })
      .catch(function (error) { // 请求失败处理
        console.log(error)
        self.$store.commit('set_errorCode', error.response)
        self.isLoading = false
      })
    const userLevelDropdownListApiUrl = `http://engine.gakkixmasami.com:30082/user_level/dropdownList/${this.site_code}` // 會員層級 api
    axios.get(userLevelDropdownListApiUrl, { headers: { 'Api-Token': self.userToken } })
      .then(response => {
        for (const i in response.data.result) {
          if (self.user_level_id == response.data.result[i].id) {
            self.user_level_name = response.data.result[i].name
          }
        }
        self.userLevelDropdownListData = response.data.result
        self.isLoading = false
        self.isSeenPagination = true
      })
      .catch(function (error) { // 请求失败处理
        console.log(error)
        self.$store.commit('set_errorCode', error.response)
        self.isLoading = false
      })
  },
  methods: {
    editRowButton (index, rows) {
      this.currentName = rows[index].account
      this.currentId = rows[index].id
    },
    addRowButton () {
      this.$message.error('暫不編輯')
    },
    ExportButton () {
      this.$message.error('暫不編輯')
    },
    searchList () {
      const self = this
      let apiUrl = ''
      this.isLoading = true
      // 過濾搜尋參數
      let apiParams = '?'
      if (this.Input.account !== '') {
        apiParams += `Account=${this.Input.account}`
        if (this.lock_rank !== '') { apiParams += '&' }
      }
      if (this.lock_rank !== '') { apiParams += `Lock_Rank=${this.lock_rank}` }
      console.log(apiParams)
      // api
      apiUrl = this.apiUrl + apiParams
      axios.get(apiUrl, { headers: { 'Api-Token': self.userToken } })
        .then(response => {
          self.tableData = response.data.result.data
          self.total = response.data.result.total
          // console.log(response.data.result.data)
          self.isLoading = false
          self.isSeenPagination = true
        })
        .catch(function (error) { // 请求失败处理
          console.log(error)
          self.$store.commit('set_errorCode', error.response)
          self.isLoading = false
        })
    },
    clearAll () {
      this.isLoading = true
      this.lock_rank = ''
      this.Input.account = ''
      this.isSeenPagination = false
      const self = this
      axios.get(self.apiUrl, { headers: { 'Api-Token': self.userToken } })
        .then(response => {
          self.tableData = response.data.result.data
          self.total = response.data.result.total
          self.isLoading = false
          self.isSeenPagination = true
        })
        .catch(function (error) { // 请求失败处理
          console.log(error)
          self.$store.commit('set_errorCode', error.response)
          self.isLoading = false
        })
    },
    userLevelDropdownListSelectChange (data) {
      const self = this
      self.dialogTableData = []
      self.isLoading = true
      self.current_user_level_id = data
      // console.log(this.userLevelDropdownListData)
      for (const i in this.userLevelDropdownListData) {
        if (data === this.userLevelDropdownListData[i].id) {
          const url = `http://engine.gakkixmasami.com:30082/user_level/userSinglePreview/${this.currentId}/${data}/salam` // 異動單筆會員的會員層級，預覽 api
          axios.get(url, { headers: { 'Api-Token': self.userToken } })
            .then(response => {
              console.log(typeof response.data.result.denied, typeof response.data.result.user_level)
              response.data.result.denied.name = '会员出入款资讯'
              response.data.result.user_level.name = '目的层级条件'
              self.dialogTableData.push(response.data.result.user_level, response.data.result.denied)
              self.isSeenDialogTable = true
              self.isLoading = false
            })
            .catch(function (error) { // 请求失败处理
              console.log(error)
              self.$store.commit('set_errorCode', error.response)
              self.isLoading = false
            })
        }
      }
    },
    dialogClick () {
      const self = this
      self.isLoading = true
      // console.log("site_code:",`${this.site_code}`,"user_id:",this.currentId,"current_user_level_id:",this.current_user_level_id)
      const url = 'http://engine.gakkixmasami.com:30082/user_level/user/single' // 異動單筆會員的會員層級 api
      axios({
        method: 'put',
        url: url,
        headers: { 'Api-Token': self.userToken },
        data: {
          site_code: `${this.site_code}`,
          user_id: this.currentId,
          user_level_id: this.current_user_level_id,
        },
      })
        .then(response => {
          self.isLoading = false
          self.isSeenPagination = true
        })
        .catch(function (error) { // 请求失败处理
          console.log(error)
          self.$store.commit('set_errorCode', error.response)
          self.isLoading = false
        })

      axios.get(self.apiUrl, { headers: { 'Api-Token': self.userToken } }) // // table api
        .then(response => {
          self.tableData = response.data.result.data
          self.total = response.data.result.total
          self.isLoading = false
          self.isSeenPagination = true
        })
        .catch(function (error) { // 请求失败处理
          console.log(error)
          self.$store.commit('set_errorCode', error.response)
          self.isLoading = false
        })
      this.dialogVisible = false
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },

  },
}
</script>

<style lang="scss" scoped>
$LineColor: #e4e7ed;
$buttonwidth: 228px;
* {
  margin: 0;
  padding: 0;
}
#app {
  width: 100%;
  height: 100vh;
}
.el-header {
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
}
.el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
}
.el-main {
  background-color: #E9EEF3;
  color: #333;
  padding: 15px;
}
.main {
  width: 100%;
  background-color: white;
  padding: 15px;
}
p{
  font-size: 1rem;
}
.mainTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  flex-wrap: wrap;
}
.mainTopinput {
  display: flex;
}
.main_footer {
  width: 100%;
  margin: 10px 0 0 0;
}
.inputForm {
  display: flex;
  flex-direction: column;
  text-align: inherit;
  font-size: .85rem;
  margin: 0 20px 20px 0;
}
.el-input,
.el-select {
  width: $buttonwidth;
}
.block {
  font-size: .85rem;
  margin: 0 20px 20px 0;
}
.el-button {
  padding: 0 20px;
  height: 30px;
}
.Homeitem {
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
.buttonForm {
  margin: 20px 0;
}
.selectForm {
  margin: 20px 0;
}
.el-button-group {
  display: flex;
}
.option {
  padding: 0 0 0 20px;
}
</style>
