<template>
  <div id="login">
    <form @submit.prevent="clickLogin" id="login_inner">
      <h1>MEGA PLAY</h1>
      <label for="account">帐号</label >
      <input id="account" type="text" v-model="accountMessage" >
      <label for="password">密码</label>
      <input id="password" type="password" v-model="passwordMessage"  >
      <button  class="btn btn-primary" @click.prevent="clickLogin">登入</button>
      </form>
  </div>
</template>

<script>

import axios from 'axios'
// import { eventBus } from '../main'

export default {
  data () {
    return {
      accountMessage: '',
      passwordMessage: '',
      Message: '',
      token: '',
    }
  },
  beforeDestroy () {
    // 使用 eventBus 傳遞資訊
    // eventBus.$emit('userToken', self.token)
    // eventBus.$emit('userName', self.accountMessage)
  },
  methods: {
    clickLogin: function () {
      const self = this
      localStorage.removeItem('token')
      axios.post('http://engine.gakkixmasami.com:30084/login', {
        account: `${this.accountMessage}`,
        password: `${this.passwordMessage}`,
        hall_code: '111',
        ip: '127.0.0.1',
      })
        .then(function (response) {
        // console.log(response)
          self.token = response.data.result.api_token
          if (self.token !== null) {
            localStorage.setItem('token', self.token)
            localStorage.setItem('userName', self.accountMessage)

            // 把 token 存到 store
            self.$store.commit('set_token', self.token)
            self.$store.commit('set_name', self.accountMessage)

            self.$router.push('/home')
          } else { alert('帳號或密碼輸入錯誤') }
        })
        .catch(function (error) {
          console.log(error)
        })
    },
  },

}
</script>

<style scoped lang="scss">
  #login_inner{
    position: relative;
    height: 100vh;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  #login{
    display: flex;
    width: 100vw;
    justify-content: center;
  }
  #login_inner{
    width: 240px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input{
    width: 250px;
    border-radius: 5px;
  }
  button{
    width: 250px;
    margin: 20px;
  }
  p,
  label{
    align-self: flex-start;
  }
</style>
