<template>
<div id="app">
  <el-container>
    <el-aside width="212px"><AsideList></AsideList></el-aside>
    <el-container>
      <el-header height="80px"><Header></Header>
      </el-header>
      <el-main>
        <div class="main" v-loading="loading">
          <el-breadcrumb separator-class="el-icon-arrow-right" style="font-size: 1rem"><el-breadcrumb-item>帐号管理</el-breadcrumb-item><el-breadcrumb-item>会员管理</el-breadcrumb-item></el-breadcrumb><br><el-divider></el-divider>
          <div class="main_down">
            <div class="inputForm">
              <label for="">站台 <span>(必填)</span></label>
              <el-select
                v-model="platformSelect"
                placeholder="请选择"
                filterable
                size="mini"
                @change="platformChange(platformSelect)">
                <el-option
                  class="option"
                  v-for="item in platformOptions"
                  :key="item.id"
                  :label="item.name"
                  :value="item.name">
                </el-option>
              </el-select>
            </div>
            <div class="inputForm">
              <label for="">代理</label>
              <el-select
                :disabled="isProxydisabled"
                v-model="proxySelect"
                placeholder="请选择"
                filterable
                clearable
                size="mini"
                @change="proxyChange(proxySelect)">
                <el-option
                  class="option"
                  v-for="item in proxyOptions"
                  :key="item.id"
                  :value="item.name">
                </el-option>
              </el-select>
            </div>
            <div class="inputForm">
              <label for="">状态</label>
              <el-select
                v-model="statusSelect"
                placeholder="请选择"
                filterable
                clearable
                size="mini">
                <el-option
                  class="option"
                  v-for="item in statusOptions"
                  :key="item.id"
                  :value="item.id">
                </el-option>
              </el-select>
            </div>
            <div class="inputForm">
              <label for="">帐号</label>
              <el-input v-model="Input.account" placeholder="请输入内容" :disabled="Input.isAccountDisabled" size="mini"></el-input>
            </div>
            <div class="inputForm">
              <label for="">UUID</label>
              <el-input v-model="Input.user_id" placeholder="请输入内容" size="mini"></el-input>
            </div>
            <div class="inputForm">
              <label for="">名称</label>
              <el-input v-model="Input.name" placeholder="请输入内容" size="mini"></el-input>
            </div>
            <div class="block">
              <span class="demonstration">注册时间</span>
              <el-date-picker
                class="el-date-picker"
                v-model="timeValue"
                type="datetimerange"
                range-separator="-"
                size="mini"
                start-placeholder="开始日期"
                end-placeholder="结束日期">
              </el-date-picker>
            </div>
            <div class="inputForm">
              <span>注册IP</span>
              <el-input v-model="Input.IP " placeholder="请输入内容" size="mini"></el-input>
            </div>
            <div class="inputForm">
              <span>卡号</span>
              <el-input v-model="Input.user_bank " placeholder="请输入内容" size="mini"></el-input>
            </div>
            <div class="inputForm">
              <span>手机</span>
              <el-input v-model="Input.phone " placeholder="请输入内容" size="mini"></el-input>
            </div>
            <div class="inputForm">
              <span>邮箱</span>
              <el-input v-model="Input.email " placeholder="请输入内容" size="mini"></el-input>
            </div>
            <div class="inputForm">
              <span>QQ号</span>
              <el-input v-model="Input.qq " placeholder="请输入内容" size="mini"></el-input>
            </div>
            <div class="inputForm">
              <span>微信号</span>
              <el-input v-model="Input.wechat " placeholder="请输入内容" size="mini"></el-input>
            </div>
            <div>
              <el-switch v-model="switchValue" active-text="精准搜寻" inactive-text="模糊搜寻"></el-switch>
              <el-button type="primary" @click="searchList" size="mini">搜寻</el-button>
              <el-button @click="clearAll" size="mini">清除</el-button>
            </div>
          </div>
          <el-divider></el-divider>
          <div class="main_footer">
            <el-button type="primary" @click="addRowButton"><i class="el-icon-plus"></i> 新增</el-button>
            <el-button type="primary" @click="ExportButton">汇出至 <i class="el-icon-arrow-down"></i></el-button>
            <!-- table -->
            <el-table v-loading="false" :data="tableData" style="width: 100%">
              <el-table-column
                v-for="(item, index) in tableTitleData"
                :key="index"
                :prop="item.prop"
                :label="item.label"
                :width="item.width"
                :fixed="item.fixed"
                :formatter="item.formatter">
                <template slot-scope="scope">
                  <div v-if="item.prop === 'status'">
                    <img src="../assets/EnableImg.svg" v-if="scope.row.status === 1" alt="">
                    <img src="../assets/freezeImg.svg" v-if="scope.row.status === 2" alt="">
                    <!-- <i class="el-icon-success" v-if="scope.row.status === 1" style="color: green; opacity: .6;"></i>
                    <i class="el-icon-remove" v-if="scope.row.status === 2" style="color: grey; opacity: .5;"></i> -->
                    {{scope.row[item.prop] | statusFormat}}
                  </div>
                  <div v-else-if="item.prop === 'account'" style="color: #409eff">{{scope.row[item.prop]}}</div>
                  <div v-else-if="item.prop === 'referrer_account'">{{scope.row[item.prop].account}}<i class="el-icon-edit" style="color: #409eff"></i></div>
                  <div v-else-if="item.prop === 'agent'">{{scope.row[item.prop].account}}<i class="el-icon-edit" style="color: #409eff"></i></div>
                  <div v-else-if="item.prop === 'user_bank'">{{scope.row[item.prop] | userBankNameForm}}<br>{{scope.row[item.prop] | userBankBankNameForm}}<br>{{scope.row[item.prop] | userBankAccountForm}}<br>{{scope.row[item.prop] | userBankCountForm}}</div>
                  <div v-else-if="item.prop === 'lock_rank'">{{scope.row[item.prop] | lockRankFormat}}</div>
                  <div v-else-if="item.prop === 'alert_level'">{{scope.row[item.prop] | alertLevelform}}</div>
                  <div v-else-if="item.prop === 'birthday'">{{scope.row[item.prop] | birthdayForm}}</div>
                  <div v-else-if="item.prop === 'register'">{{scope.row[item.prop].create_time}}<br>{{scope.row[item.prop].register_ip}}</div>
                  <div v-else-if="item.prop === 'login'">{{scope.row[item.prop].last_login_time}}<br>{{scope.row[item.prop].last_login_ip}}</div>
                  <div v-else-if="item.label ==='操作'">
                    <el-button
                      style="color: #409eff"
                      @click="editRowButton(scope.$index, tableData)"
                      type="text"
                      size="mini"
                      class="el-button-edit"
                    >編輯</el-button>
                  </div>
                  <div v-else>{{scope.row[item.prop]}}</div>
                </template>
              </el-table-column>
            </el-table>
            <!-- pagination -->
            <div class="block" v-if="isSeenPagination" >
              <span class="demonstration">共 {{total}} 条</span>
              <el-pagination
                background
                @current-change="handleCurrentChange"
                :current-page.sync="currentPage"
                :page-size="50"
                layout="prev, pager, next, jumper"
                :total="total">
              </el-pagination>
            </div>
          </div>
        </div>
      </el-main>
    </el-container>
  </el-container>
</div>
</template>

<script>
import AsideList from '@/components/AsideList'
import Header from '@/components/Header'
import axios from 'axios'
export default {
  components: {
    AsideList, Header,
  },
  filters: {
    statusFormat (data) { if (data === 1) { return '启用' } else { return '冻结' } },
    userBankNameForm (data) {
      if (`${data}` === '') { return `${data}` } else {
        for (const i in data) { return `户名: ${data[i].name}` }
      }
    },
    userBankBankNameForm (data) {
      if (`${data}` === '') { return `${data}` } else {
        for (const i in data) { return `银行: ${data[i].bank_name}` }
      }
    },
    userBankAccountForm (data) {
      if (`${data}` === '') { return `${data}` } else {
        for (const i in data) { return `卡号: ${data[i].account}` }
      }
    },
    userBankCountForm (data) {
      let j = 0
      if (`${data}` === '') return `${data}`
      else { for (const i in data) { j++ } return `共 ${j} 张` }
    },
    lockRankFormat (data) { if (data === 1) { return '是' } else { return '否' } },
    birthdayForm (data) { if (data === '0000-00-00') {} else { return data } },
    alertLevelform (data1) {
      switch (data1) {
        case 0: return '可疑'
        case 1: return '未知'
        case 2: return '安全'
        case 3: return '危險'
        case 4: return '無效'
        case 5: return '觀察'
      }
    },
  },
  data () {
    return {
      userToken: '',
      userName: '',
      loading: false,
      switchValue: false,
      tableTitleData: [
        { prop: 'account', label: '帐号', width: '180' },
        { prop: 'name', label: '名称', width: '180' },
        { prop: 'agent', label: '上层代理', width: '180' },
        { prop: 'referrer_account', label: '上层推广', width: '180' },
        { prop: 'user_level_id', label: '会员层级', width: '180' },
        { prop: 'balance', label: '余额', width: '180' },
        { prop: 'user_id', label: 'UUID', width: '180' },
        { prop: 'nickname', label: '昵称', width: '180' },
        { prop: 'phone', label: '手机', width: '180' },
        { prop: 'email', label: '邮箱', width: '180' },
        { prop: 'qq', label: 'QQ号', width: '180' },
        { prop: 'wechat', label: '微信号', width: '180' },
        { prop: 'user_bank', label: '会员银行卡', width: '180' },
        { prop: 'lock_rank', label: '锁定会员层级', width: '180' },
        { prop: 'login', label: '登入资讯', width: '180' },
        { prop: 'register', label: '注册资讯', width: '180' },
        { prop: 'alert_level', label: '警告级别', width: '180' },
        { prop: 'status', label: '状态', width: '180' },
        { prop: 'remark', label: '备注', width: '180' },
        { prop: 'birthday', label: '生日', width: '180' },
        { fixed: 'right', label: '操作', width: '180' },
      ],
      tableData: [],
      total: 0,
      Input: {
        account: '',
        isAccountDisabled: true,
        user_id: '',
        IP: '',
        user_bank: '',
        phone: '',
        wechat: '',
        qq: '',
        email: '',
        name: '',
      },
      statusSelect: '',
      statusOptions: [{ id: '启用' }, { id: '冻结' }],
      platformSelect: '',
      platformOptions: [],
      platformSelectSiteCode: '',
      timeValue: '',
      proxySelect: '',
      proxyOptions: [],
      proxySelectSiteCode: '',
      isProxydisabled: true,
      userLevelDropdownListData: [],
      transferBankListData: [],
      userListApiParams: '',
      currentPage: 1,
      isSeenPagination: false,
    }
  },
  created () {
    this.userToken = this.$store.state.token
    this.userName = this.$store.state.userName
  },
  mounted () {
    // 站台 api
    const self = this
    const apiurl = 'http://engine.gakkixmasami.com:30082/site/dropdownlist/?Search_Hall_Code=moa&Status=1'
    axios.get(apiurl, { headers: { 'Api-Token': self.userToken } })
      .then(response => {
        self.platformOptions = response.data.result
      })
      .catch(function (error) { // 请求失败处理
        console.log(error.response.data.code)
        self.$store.commit('set_errorCode', error.response.data.code)
      })
  },
  methods: {
    editRowButton (index, rows) {
      // rows.splice(index, 1)
      this.$message.error('暫不編輯')
    },
    addRowButton () {
      this.$message.error('暫不編輯')
    },
    ExportButton () {
      this.$message.error('暫不編輯')
    },
    platformChange (platformSelect) {
      const self = this
      this.isProxydisabled = true
      for (const i in this.platformOptions) {
        if (this.platformOptions[i].name === platformSelect) {
          // console.log(this.platformOptions[i].site_code)
          this.platformSelectSiteCode = this.platformOptions[i].site_code
          // 代理表單 api
          const apiurl = `http://engine.gakkixmasami.com:30082/agent/dropdownlist/${this.platformOptions[i].site_code}`
          axios.get(apiurl, { headers: { 'Api-Token': self.userToken } })
            .then(response => {
              self.proxyOptions = response.data.result
              self.isProxydisabled = false
              self.Input.isAccountDisabled = false
            // console.log(self.proxyOptions)
            })
            .catch(function (error) { // 请求失败处理
              console.log(error.response)
            })
        }
      }
    },
    proxyChange (proxySelect) { for (const i in this.proxyOptions) { if (this.proxyOptions[i].name === proxySelect) { this.proxySelectSiteCode = this.proxyOptions[i].id } } },
    timeFormat (date) {
      const FullYear = date.getFullYear()
      const Month = date.getUTCMonth() + 1
      const Day = date.getDate()
      const Hours = date.getHours()
      const Minutes = date.getMinutes()
      const Seconds = date.getSeconds()
      return `${FullYear}-${Month > 9 ? Month : '0' + Month}-${Day > 9 ? Day : '0' + Day}+${Hours > 9 ? Hours : '0' + Hours}:${Minutes > 9 ? Minutes : '0' + Minutes}:${Seconds > 9 ? Seconds : '0' + Seconds}`
    },
    searchList () {
      const self = this
      if (self.platformSelect === '') {
        this.$message.error('請選擇站台')
        return
      }
      self.loading = true
      // 過濾搜尋參數
      let userListApiParams = ''
      if (this.proxySelectSiteCode !== '') { userListApiParams += `Ag_Id=${this.proxySelectSiteCode}&` }
      if (this.timeValue[0] !== undefined && this.timeValue[1] !== undefined) {
        const startTime = `${self.timeFormat(self.timeValue[0])}`
        const endTime = `${self.timeFormat(self.timeValue[1])}`
        userListApiParams += `Start_Time=${startTime}&End_Time=${endTime}&`
      }
      if (this.statusSelect === '启用') { userListApiParams += 'Status=1&' }
      if (this.statusSelect === '冻结') { userListApiParams += 'Status=2&' }
      if (this.Input.account !== '') { userListApiParams += `Account=${this.Input.account}&` }
      if (this.Input.user_id !== '') { userListApiParams += `User_Id=${this.Input.user_id}&` }
      if (this.Input.name !== '') { userListApiParams += `Name=${this.Input.name}&` }
      if (this.Input.phone !== '') { userListApiParams += `Phone=${this.Input.phone}&` }
      if (this.Input.email !== '') { userListApiParams += `Email=${this.Input.email}&` }
      if (this.Input.qq !== '') { userListApiParams += `Qq=${this.Input.qq}&` }
      if (this.Input.wechat !== '') { userListApiParams += `Wechat=${this.Input.wechat}&` }
      if (this.Input.user_bank !== '') { userListApiParams += `User_Bank_Account=${this.Input.user_bank}&` }
      if (this.switchValue === true) { userListApiParams += 'Is_Blurry=0' }
      if (this.switchValue === false) { userListApiParams += 'Is_Blurry=1' }
      if (this.Input.IP !== '') { userListApiParams += `&Register_Ip=${this.Input.IP}` }
      self.userListApiParams = userListApiParams
      self.currentPage = 1
      // console.log(userListApiParams)
      // api
      let userlistApiUrl = `http://engine.gakkixmasami.com:30082/user/list/${this.platformSelectSiteCode}/${this.currentPage}/50/?` // 會員管理表單 api
      userlistApiUrl += userListApiParams
      const userLevelDropdownListApiUrl = `http://engine.gakkixmasami.com:30082/user_level/dropdownList/${this.platformSelectSiteCode}` // 會員層級 api
      const transferBankListApiUrl = `http://engine.gakkixmasami.com:30082/transfer_bank/list/1/${this.platformSelectSiteCode}` // 會員銀行卡 api
      axios.all([
        axios.get(userlistApiUrl, { headers: { 'Api-Token': self.userToken } }),
        axios.get(userLevelDropdownListApiUrl, { headers: { 'Api-Token': self.userToken } }),
        axios.get(transferBankListApiUrl, { headers: { 'Api-Token': self.userToken } }),
      ])
        .then(axios.spread(function (userlist, userLevelDropdownList, transferBankList) {
        // 上面两个请求都完成后，才执行这个回调方法
          self.tableData = userlist.data.result.data
          self.total = userlist.data.result.total
          // console.log('會員表單1', self.tableData)
          self.userLevelDropdownListData = userLevelDropdownList.data.result
          // console.log('會員層級2 api', self.userLevelDropdownListData)
          self.transferBankListData = transferBankList.data.result
          // console.log('會員銀行卡3 api', self.transferBankListData)
          // 會員層級欄位帶入會員層級api
          for (const i in self.tableData) {
            for (const j in self.userLevelDropdownListData) {
              if (self.tableData[i].user_level_id === self.userLevelDropdownListData[j].id) {
                if (self.tableData[i].user_level_id !== 233) { self.tableData[i].user_level_id = self.userLevelDropdownListData[j].name } else { self.tableData[i].user_level_id = '預設层' }
              }
            }
          }
          self.isSeenPagination = true
          self.loading = false
        }))
    },
    clearAll () {
      this.platformSelect = ''
      this.proxySelect = ''
      this.statusSelect = ''
      this.Input.account = ''
      this.Input.isAccountDisabled = true
      this.Input.user_id = ''
      this.Input.IP = ''
      this.Input.user_bank = ''
      this.Input.phone = ''
      this.Input.wechat = ''
      this.Input.qq = ''
      this.Input.email = ''
      this.Input.name = ''
      this.isProxydisabled = true
      this.proxySelectSiteCode = ''
      this.tableData = []
      this.isSeenPagination = false
      this.timeValue = []
      this.switchValue = false
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      const self = this
      self.loading = true
      this.tableData = []
      let userlistApiUrl = `http://engine.gakkixmasami.com:30082/user/list/${this.platformSelectSiteCode}/${val}/50/?` // 會員管理表單 api
      userlistApiUrl += self.userListApiParams
      const userLevelDropdownListApiUrl = `http://engine.gakkixmasami.com:30082/user_level/dropdownList/${this.platformSelectSiteCode}` // 會員層級 api
      const transferBankListApiUrl = `http://engine.gakkixmasami.com:30082/transfer_bank/list/1/${this.platformSelectSiteCode}` // 會員銀行卡 api
      axios.all([
        axios.get(userlistApiUrl, { headers: { 'Api-Token': self.userToken } }),
        axios.get(userLevelDropdownListApiUrl, { headers: { 'Api-Token': self.userToken } }),
        axios.get(transferBankListApiUrl, { headers: { 'Api-Token': self.userToken } }),
      ])
        .then(axios.spread(function (userlist, userLevelDropdownList, transferBankList) {
        // 上面两个请求都完成后，才执行这个回调方法
          self.tableData = userlist.data.result.data
          self.total = userlist.data.result.total
          self.userLevelDropdownListData = userLevelDropdownList.data.result
          self.transferBankListData = transferBankList.data.result
          for (const i in self.tableData) {
            for (const j in self.userLevelDropdownListData) {
              if (self.tableData[i].user_level_id === self.userLevelDropdownListData[j].id) {
                if (self.tableData[i].user_level_id !== 233) { self.tableData[i].user_level_id = self.userLevelDropdownListData[j].name } else { self.tableData[i].user_level_id = '預設層' }
              }
            }
          }
          self.loading = false
        }))
    },
  },
}
</script>

<style lang="scss" scoped>
$LineColor: #e4e7ed;
$spanColor: #909399;
$buttonwidth: 228px;
$datewidth: $buttonwidth * 2 + 20px;
* {
  margin: 0;
  padding: 0;
}
#app {
  width: 100%;
  height: 100vh;
}
.el-header {
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
}
.el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
}
.el-main {
  background-color: #E9EEF3;
  color: #333;
  padding: 15px;
}
body > .el-container {
  margin-bottom: 40px;
}
.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}
.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}
.main {
  width: 100%;
  background-color: white;
  padding: 15px;
}
p{
  font-size: 1rem;
}
.Line {
  margin-top: 10px;
  border-bottom: 1px solid $LineColor;
}
.main_down {
  width: 80%;
  display: flex;
  padding: 20px 0;
  flex-wrap: wrap;

}
.main_footer {
  width: 100%;
  margin: 10px 0 0 0;
}
.inputForm {
  display: flex;
  flex-direction: column;
  text-align: inherit;
  font-size: .85rem;
  margin: 0 20px 20px 0;
}
.el-input,
.el-select {
  width: $buttonwidth;
}
.block {
  display: flex;
  flex-direction: column;
  width: $datewidth;
  font-size: .85rem;
  margin: 0 20px 20px 0;
}
.el-date-picker {
  width: $datewidth;
}
.el-switch {
  width: $buttonwidth + 15px;
}
.el-button {
  width: 80px;
  height: 32px;
  margin: 0 5px;
}
.el-button-edit {
  width: 30px;
  padding: 0;
  margin: 0;
  z-index: 2;

}
.option {
  padding: 0 20px;
}
::-webkit-scrollbar {
  display: none;
}
span {
  color: $spanColor;
}
</style>
