<template>
<div id="app">
  <el-container>
    <el-aside width="212px"><AsideList></AsideList></el-aside>
    <el-container>
      <el-header height="80px"><Header></Header></el-header>
      <el-main>
        <div class="main" v-loading="isLoading">
          <Homeitem class="Homeitem">
            <p slot="header1">帐号管理 <i class="el-icon-arrow-right"></i> 会员层级管理</p>
            <div slot="line1" class="Line"></div>
          </Homeitem>
          <div class="main_down">
            <div class="inputForm">
              <label for="">站台(必填)</label>
              <el-select
                v-model="platformSelect"
                placeholder="请选择"
                filterable
                size="small"
                @change="platformChange(platformSelect)">
                <el-option
                  class="option"
                  v-for="item in platformOptions"
                  :key="item.id"
                  :label="item.name"
                  :value="item.name">
                </el-option>
              </el-select>
            </div>
            <div class="inputForm">
                <label for="">层级名称</label>
              <el-input v-model="Input.levelName " placeholder="请输入内容" size="small"></el-input>
            </div>
            <div class="buttonForm">
              <el-button type="primary" @click="searchList" class="el-button el-button--default el-button--small">搜寻</el-button>
              <el-button @click="clearAll" class="el-button el-button--default el-button--small">清除</el-button>
            </div>
          </div>
          <Homeitem class="Homeitem"><div slot="line1" class="Line"></div></Homeitem>
          <div class="main_footer">
            <el-button type="primary" @click="addRowButton"><i class="el-icon-plus"></i> 新增</el-button>
            <el-button type="primary" @click="ExportButton"><i class="el-icon-thumb"></i> 批次更新层级</el-button>
            <el-table v-loading="false" :data="tableData" style="width: 100%">
              <el-table-column
                v-for="(item, index) in tableTitleData"
                :key="index"
                :prop="item.prop"
                :label="item.label"
                :width="item.width"
                :fixed="item.fixed"
                :formatter="item.formatter">
                <template slot-scope="scope">
                  <div v-if="item.prop === 'status'">
                    <i class="el-icon-success" v-if="scope.row.status === 1" style="color: green; opacity: .6;"></i>
                    <i class="el-icon-remove" v-if="scope.row.status === 2" style="color: grey; opacity: .5;"></i>
                    {{scope.row[item.prop] | statusFormat}}
                  </div>
                  <div v-else-if="item.prop === 'user_count' && scope.row[item.prop] !== 0">
                    <p @click="routerLinkClick(scope.$index, tableData)"><a href="">{{scope.row[item.prop]}}</a></p>
                  </div>
                  <div v-else-if="item.label === '操作'">
                    <el-button-group>
                    <el-button
                      style="color: skyblue"
                      @click="editRowButton(scope.$index, tableData)"
                      type="text"
                      size="mini">
                      編輯
                    </el-button>
                    <el-button
                      style="color: skyblue"
                      @click="editRowButton(scope.$index, tableData)"
                      type="text"
                      size="mini">
                      刪除
                    </el-button>
                    <el-button
                      style="color: skyblue"
                      @click="editRowButton(scope.$index, tableData)"
                      type="text"
                      size="mini">
                      绑定层级支付
                    </el-button>
                    <el-button
                      style="color: skyblue"
                      @click="editRowButton(scope.$index, tableData)"
                      type="text"
                      size="mini">
                      出入款设定
                    </el-button>
                  </el-button-group>
                  </div>
                  <div v-else>{{scope.row[item.prop]}}</div>
                </template>
              </el-table-column>
            </el-table>
            <div class="block" v-if="isSeenPagination" >
              <span class="demonstration">共 {{total}} 条</span>
              <el-pagination
                background
                :current-page.sync="currentPage"
                :page-size="50"
                layout="prev, pager, next, jumper"
                :total="total">
              </el-pagination>
            </div>
          </div>
        </div>
      </el-main>
    </el-container>
  </el-container>
  <router-view></router-view>
</div>
</template>

<script>
import AsideList from '@/components/AsideList'
import Header from '@/components/Header'
import Homeitem from '@/components/Homeitem'
import axios from 'axios'
export default {
  components: {
    AsideList, Header, Homeitem,
  },
  filters: {
    statusFormat (data) { if (data === 1) { return '启用' } else { return '冻结' } },
  },
  data () {
    return {
      userToken: '',
      userName: '',
      apiUrl: '',
      isLoading: false,
      tableTitleData: [
        { prop: 'name', label: '层级名称', width: '180' },
        { prop: 'user_count', label: '会员人数', width: '120' },
        { prop: 'deposit_times', label: '存款次数', width: '120' },
        { prop: 'deposit_total', label: '存款总额', width: '150' },
        { prop: 'deposit_maximum', label: '最大存款额度', width: '150' },
        { prop: 'withdraw_times', label: '提款次数', width: '120' },
        { prop: 'withdraw_total', label: '提款总额', width: '150' },
        { prop: 'status', label: '状态', width: '80' },
        { prop: 'mod_user', label: '更新人员', width: '120' },
        { prop: 'update_time', label: '更新时间', width: '165' },
        { fixed: 'right', label: '操作', width: '350' },
      ],
      tableData: [],
      total: 0,
      Input: {
        levelName: '',
      },
      platformSelect: '',
      platformOptions: [],
      platformSelectSiteCode: '',
      userLevelDropdownListData: [],
      currentPage: 1,
      isSeenPagination: false,
    }
  },
  created () {
    this.userToken = this.$store.state.token
    this.userName = this.$store.state.userName
  },
  mounted () {
    // 站台 api
    const self = this
    const apiurl = 'http://engine.gakkixmasami.com:30082/site/dropdownlist/?Search_Hall_Code=moa&Status=1'
    axios.get(apiurl, { headers: { 'Api-Token': self.userToken } })
      .then(response => {
        self.platformOptions = response.data.result
      })
      .catch(function (error) { // 请求失败处理
        console.log(error.response.data.code)
        self.$store.commit('set_errorCode', error.response.data.code)
      })
  },
  methods: {
    editRowButton (index, rows) {
      // rows.splice(index, 1)
      this.$message.error('暫不編輯')
    },
    addRowButton () {
      this.$message.error('暫不編輯')
    },
    ExportButton () {
      this.$message.error('暫不編輯')
    },
    platformChange (platformSelect) {
      for (const i in this.platformOptions) {
        if (this.platformOptions[i].name === platformSelect) { this.platformSelectSiteCode = this.platformOptions[i].site_code }
      }
    },
    searchList () {
      const self = this
      if (self.platformSelect === '') {
        this.$message.error('請選擇站台')
        return
      }
      self.isLoading = true
      self.currentPage = 1
      // 過濾搜尋參數
      let apiParams = ''
      if (this.Input.levelName !== '') { apiParams += `?Name=${this.Input.levelName}` }
      // api
      let userLevelDropdownListApiUrl = `http://engine.gakkixmasami.com:30084/user_level/list/${this.platformSelectSiteCode}/1/50/` // 會員層級 api
      userLevelDropdownListApiUrl += apiParams
      axios.get(userLevelDropdownListApiUrl, { headers: { 'Api-Token': self.userToken } })
        .then(response => {
          self.tableData = response.data.result.data
          self.total = response.data.result.total
          self.isSeenPagination = true
          self.isLoading = false
        })
        .catch(function (error) { // 请求失败处理
          console.log(error.response)
        })
    },
    clearAll () {
      this.platformSelect = ''
      this.Input.levelName = ''
      this.tableData = []
      this.isSeenPagination = false
    },
    routerLinkClick (index, rows) {
      this.apiUrl = `http://engine.gakkixmasami.com:30082/user_level/user_list/${rows[index].id}/1/50`
      this.$store.commit('set_apiUrl', this.apiUrl)
      localStorage.setItem('set_apiUrl', this.apiUrl)
      this.$store.commit('set_site_code', this.platformSelectSiteCode)
      localStorage.setItem('set_site_code', this.platformSelectSiteCode)
      this.$store.commit('set_user_level_id', rows[index].id)
      localStorage.setItem('set_user_level_id', rows[index].id)
      this.$router.push('/home/MemberLevels/level-user-list')
    },
  },
}
</script>

<style lang="scss" scoped>
$LineColor: #e4e7ed;
$buttonwidth: 228px;
* {
  margin: 0;
  padding: 0;
}
#app {
  width: 100%;
  height: 100vh;
}
.el-header {
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
}
.el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
}
.el-main {
  background-color: #E9EEF3;
  color: #333;
  padding: 15px;
}
body > .el-container {
  margin-bottom: 40px;
}
.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}
.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}
.main {
  width: 100%;
  background-color: white;
  padding: 15px;
}
p{
  font-size: 1rem;
}
.Line {
  margin-top: 10px;
  border-bottom: 1px solid $LineColor;
}
.main_down {
  width: 80%;
  display: flex;
  padding: 20px 0;
  flex-wrap: wrap;
}
.main_footer {
  width: 100%;
  margin: 10px 0 0 0;
}
.inputForm {
  display: flex;
  flex-direction: column;
  text-align: inherit;
  font-size: .85rem;
  margin: 0 20px 20px 0;
}
.el-input,
.el-select {
  width: $buttonwidth;
}
.block {
  font-size: .85rem;
  margin: 0 20px 20px 0;
}
.el-button {
  padding: 0 20px;
  height: 30px;
}
.Homeitem {
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
.buttonForm {
  margin: 20px 0;
}
.el-button-group {
  display: flex;
}
.option {
  padding: 0 0 0 20px;
}
</style>
