<template>
  <div id="tinymceEditor">
    <div id="box">
      <Editor
      ref="editor"
      id=""
      class="editor"
      :init="init"
      :disabled="init.disabled"
      v-model="init.message"
      @onClick="onClick"
      >
      </Editor>
      <!--<button @click="init.disabled = !init.disabled">disabled</button>-->
    </div>
  </div>
</template>

<script>
import Editor from '@tinymce/tinymce-vue'
export default {
  components: {
    Editor,
  },
  data () {
    return {
      init: {
        message: 'init message',
        height: 370,
        width: 570,
        plugins: this.plugins,
        disabled: false,
        browser_spellcheck: true, // 拼写检查
        branding: false, // 去水印
        elementpath: true, // 编辑器底部的状态栏
        statusbar: false, // 编辑器底部的状态栏
        paste_data_images: true, // 允许粘贴图像
        menubar: false, // 隐藏最上方menu
        toolbar1: 'bold italic underline strikethrough blockquote code forecolor backcolor alignleft aligncenter alignright alignjustify bullist numlist formatselect subscript superscript outdent indent removeformat',
      },
    }
  },
  methods: {
    onClick (e, editor) {
      console.log('Element clicked')
      console.log(e)
      console.log(editor)
    },
  },
}
</script>
<style lang="scss" scoped>
  #tinymceEditor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 946px;
  }
  .editor{
    border: 10px solid red;
    width: 100vw;
    height: 600px;
  }
</style>
