<template>
  <div id="app">
    <!--<el-container v-if="isSee">
      <el-aside width="212px"><AsideList></AsideList></el-aside>
      <el-container>
        <el-header><Header></Header></el-header>
        <el-main>Main</el-main>
      </el-container>
    </el-container>-->
    <router-view/>
  </div>
</template>

<script>
// import AsideList from '@/components/AsideList'
// import Header from '@/components/Header'
export default {
  name: 'app',
  /* components: {
    AsideList, Header,
  },
  data () {
    return {
      isSee: false,
    }
  },
  created () {
    // if(this.$store.state.token != '')
    // this.isSee = true
  }, */
}
</script>

<style>
#app {
  background-color: #2a4584;
  margin: 0;
  padding: 0;
  display: flex;
}
</style>
